
<br><br>
<fieldset>
<br>
<legend>Greate to see you Here!!...SignUp</legend>
<form>

    <label for="uName">Enter User Name: </label>
   <input type="text" Name="userName" id="uName">
        <br>

    <label for="email">Enter Email: </label>
    <input type="email" Name="email" id="email">
    
    <br>

    <label for="MobileNo">Enter User Mobile no: </label>
    <input type="number"  Name="MobileNo" id="Mobile">
    <br>
    
    <label for="password">Enter Password: </label>
    <input type="password" Name="password" id="password">
  
<br><br>
    <input type="submit" value="Register">
    


