<!-- Name:<input type="text" [(ngModel)]="customerObj.name"/><br><br>
Code:<input type="text" [(ngModel)]="customerObj.code"/><br><br>
Age:<input type="text" [(ngModel)]="customerObj.age"/><br><br>
<input type="button" (click)="Add()" value="Add">
<input type="button" (click)="Update()" value="Edit"> 
<br><br>
{{customerObj.name}}
<table border="1px">
  <tr>
    <th>Name </th>
    <th>Code </th>
    <th>Age </th>
    <th>Edit</th>
   
     
  </tr>
  <tr *ngFor="let cust of customerObjs">
  <td >{{cust.name}}</td>
  <td>{{cust.code}}</td>
  <td>{{cust.age}}</td>
  <td><a href="javascript:void(0)" (click)="Edit(cust)">Edit</a></td>
</tr>
</table> -->

<app-e-commerce></app-e-commerce>
