<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your E-commerce Website</title>
    <link rel="stylesheet" href=""> 
</head>
<body>
    <div class="welcome-text">
        <h1>Welcome to our E-commerce Website!</h1>
    
    </div>

    <nav class="navbar">
        
            <a routerLink="/home">Home</a>
            <a routerLink="/products">Products</a>
            <a routerLink="/cart">Cart</a>
            <a routerLink="/contactUs">Contact Us</a>
            <a routerLink="/login" style="margin-left: 610px;">Login</a>
            <a routerLink="/registration">Registration</a>
        
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>

    <footer><h1></h1></footer>
    </body>

